.editCategory .container {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}

.editCategory .container h1 {
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  color: #fff;
}

.editCategory .container input {
  width: 100%;
  background: rgba(210, 210, 210, 0.25);
  border: 2px solid #bcbcbc;
  border-radius: 5px;
  padding: 1vh 1vw;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  margin-top: 5vh;
}

.editCategory .container .btn-save {
  width: 100%;
  background: #56c05a;
  border-radius: 5px;
  font-weight: 300 !important;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  padding: 1vh 1vw;
  margin-top: 8vh;
  margin-bottom: 8vh;
}

.editCategory .container .btn-save:hover {
  background: #50a553;
}
